[Unit]
Description=TG Player WebApp
After=network.target

[Service]
Type=simple
User=ganja
Group=ganja
WorkingDirectory=/opt/tg_player/webapp/dist
ExecStart=/usr/bin/python3 -m http.server 5173
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
