[Unit]
Description=TG Player API (STAGING/TEST)
After=network.target

[Service]
Type=simple
User=ganja
Group=ganja
WorkingDirectory=/opt/tg_player_test
Environment=PATH=/opt/tg_player_test/venv/bin
# Порт 8001 для теста, чтобы не конфликтовать с продом
ExecStart=/opt/tg_player_test/venv/bin/uvicorn api.main:app --host 0.0.0.0 --port 8001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
