[Unit]
Description=TG Player Bot (STAGING/TEST)
After=network.target

[Service]
Type=simple
User=ganja
Group=ganja
WorkingDirectory=/opt/tg_player_test
Environment=PATH=/opt/tg_player_test/venv/bin
ExecStart=/opt/tg_player_test/venv/bin/python bot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
